.movieCard {
  font-size: 0;
  line-height: 0;
  max-width: 25rem;
  max-height: 40rem;
  border-radius: 5px;
  transition: all 0.3s;
  animation-name: movedown;
  animation-duration: 1.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.05);
    transition: all 0.3s linear;
  }
  & img {
    border-radius: 5px;
    width: calc(100%);
    height: calc(100%);
  }
  @media (min-width: 600px) {
    max-width: 8rem;
    max-height: 11rem;
  }
  @media (min-width: 1200px) {
    max-width: 10rem;
    max-height: 14rem;
  }
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
