@import '../../variable.module.scss';

.cardSection {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  &:hover {
  }
  & .homeText {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    text-transform: capitalize;
  }

  & .btnContainer {
    display: none;

    @media (min-width: 600px) {
      position: relative;
      top: -9rem;
      z-index: 99;
      display: flex;
      justify-content: space-between;
      margin: 0 0.1rem;
    }
  }

  & .btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
  }

  & .cardWrapper {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }
  // @media (min-width: 1200px) {
  //   min-height: 15rem;
  // }

  @keyframes movedown {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  & .errorMessage {
    font-size: 1.5rem;
  }
}
