@import "../../variable.module.scss";

.cardSliderWrapper {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 0 1rem;
  margin: auto;
  margin-bottom: 3rem;
}

.homeText {
  font-size: 2rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}



@media only screen and (min-width: 600px) {
  .cardSliderWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
