@import "./variable.module.scss";

/*global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 56.25%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: $primaryColor;
  background: linear-gradient(
    45deg,
    rgba($darkBackground, 0.8),
    rgba($darkBackground, 0.3)
  );
  // background: $darkBackground;
  // max-width: 1400px;
  // margin: auto;
}
a {
  text-decoration: none;
  color: $primaryColor;
  display: inline-block;
  text-transform: capitalize;
}
h1 {
  font-size: 260%;
}

h2 {
  font-size: 200%;
  font-weight: 300;
}

h3 {
  font-size: 150%;
  font-weight: 300;
}
/* end of globals */

.app {
  max-width: 1400px;
  display: grid;
  grid-template-rows: auto;
  align-items: baseline;
  margin: auto;
  // background-color: $mainBackground;
  background: linear-gradient(
    90deg,
    rgba($mainBackground, 1),
    rgba($mainBackground, 0.7)
  );
  min-height: 100vh;
}

@media only screen and (min-width: 326px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-width: 1400px) {
  .app {
    margin: 2rem auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 120%;
  }
}
