/*
$mainBackground: #eee2dc;
$mainBackground: #edc7b7;

$secondaryBackground: #5cdb95;
$secondaryBackground: #379683;
*/

$primaryColor:#05386b;
$secondaryColor:#222;
$mainBackground: #edc7b7;
$secondaryBackground: #379683;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);