@import '../../variable.module.scss';

.navMenu {
  font-size: 3rem;
  list-style: none;
  & li {
    margin: auto;
    margin-bottom: 1rem;
    width: 40%;
    text-align: center;
    & a {
      background-image: linear-gradient(
        90deg,
        rgba($darkBackground, 0.5),
        rgba($secondaryBackground, 1)
      );
      width: 100%;
    }
  }
}
