@import "../../variable.module.scss";

.inputWrapper {
  width: 70%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.inputform {
  width: 100%;
  // height: auto;
  // margin: auto;
  // margin-bottom: 1rem;
  position: relative;
  background: linear-gradient(to right, rgba(gray, 1), rgba(gray, 0.1));
  padding: 0;
  padding-bottom: 3px;

  & input {
    width: 100%;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: $primaryColor;
    padding: 3px;
    border: none;
    // background-color: $mainBackground;
    background: linear-gradient(
    90deg,
    rgba($mainBackground, .7),
    rgba($offWhite, 0.3)
  );

    &:focus {
      outline: none;
      &::placeholder {
        color: $primaryColor;
      }
    }
  }
}

.floating_label {
  position: absolute;
  font-size: 1.5rem;
  color: gray;
  top: .3rem;
  left: 0.5rem;
  transition: all 0.2s;
  pointer-events: none;
}

.floating_label_onfocus {
  font-size: 1rem;
  color: $primaryColor;
  top: -1.5rem;
  left: 0rem;
}

.inputWrapperOnfocus {
  background: linear-gradient(
    to right,
    rgba($primaryColor, .7),
    rgba($offWhite, 0.3)
  );
}

.searchSuggestion {
  position: absolute;
  top: 0rem;
  left: 30%;
  transition: all 0.2s;
  z-index: 100;
}

@media only screen and (min-width: 600px) {
  .inputWrapper {
    width: 50%;
    // margin: 0 auto;
    // margin-bottom: 1rem;
  }
}