@import "../../variable.module.scss";

.singleMovie {
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
  color: $secondaryColor;
  text-align: justify;
}

.sideItem {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  & article {    
    margin: auto;
    padding: 7%;
  }
}

.posterImage {
  // max-width: 80%;
  padding: 7%;
  & img {
    width: 100%;
  }
}

.genre {
  margin: 1rem 0;
  text-align: left;
}

.sideItemText {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-top: 1rem;
  & div {
    width: 100%;
    padding: 0 1%;
  }
}



@media only screen and (min-width: 600px) {
  .sideItem {
    max-width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    & article {
      max-width: 70%;
      padding: 0 1rem;
    }
  }
  .posterImage {
    // max-width: 80%;
    padding: 0 1rem;
  }
}
