@import "../../variable.module.scss";

// .popularDiv{
//   border:1px solid red;

// }

.homeText {
  font-size: 2rem;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin: auto;

  & button {
    background: none;
    border: none;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: $primaryColor;
    padding: 0.2rem;
    padding-top: 0.5rem;
  }
}

.cardWrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem;
  min-height: 33rem;

  // opacity: 0;
  // transition: all 100ms linear;
  // &.loaded {
  //   animation-name: movedown;
  //   animation-duration: 2s;
  // }
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardWrapperInitial {
  display: block;
  height: 1rem;
  color: #000;
}

.cardsDiv {
  border: 1px solid green;
  // display: flex;
}
.errorMessage {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .cardWrapper {
    min-height: 10rem;
  }
}

@media only screen and (min-width: 800px) {
  .cardWrapper {
    min-height: 12rem;
  }
}

@media only screen and (min-width: 1000px) {
  .cardWrapper {
    min-height: 16rem;
  }
}

@media only screen and (min-width: 1200px) {
  .cardWrapper {
    min-height: 10.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .cardWrapper {
    min-height: 16rem;
  }
}
