.loadingDiv {
  width: 70%;
  // white-space: pre;
  margin: auto;
  margin-bottom: 5rem;
  text-align: center;

  & img {
    width: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .loadingDiv {
    width: 40%;
  }
}
