@import '../../variable.module.scss';

.inputWrapper {
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  height: fit-content;
  z-index: 9;
  @media (min-width: 600px) {
    width: 60%;
  }
}

.inputform {
  position: relative;
  background: linear-gradient(to right, rgba(gray, 1), rgba(gray, 0.1));
  padding: 0;
  padding-bottom: 3px;

  & input {
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $primaryColor;
    padding: 3px;
    border: none;
    background: rgba($mainBackground, 0.7);

    &:focus {
      outline: none;
      &::placeholder {
        color: $primaryColor;
      }
    }
  }
}

.floating_label {
  position: absolute;
  font-size: 1.5rem;
  color: gray;
  top: 0.3rem;
  left: 0.5rem;
  transition: all 0.2s;
  pointer-events: none;
}

.floating_label_onfocus {
  font-size: 1rem;
  color: $primaryColor;
  top: -1.5rem;
  left: 0rem;
}

.inputWrapperOnfocus {
  background: linear-gradient(
    to right,
    rgba($primaryColor, 0.7),
    rgba($offWhite, 0.3)
  );
}

.suggestions {
  position: absolute;
  top: 1rem;
  list-style: none;
  font-size: 1.5rem;
  margin: auto;
  width: 100%;
  background: $mainBackground;
  z-index: -2;
  & a {
    width: 100%;
    &:focus {
      background-color: $secondaryBackground;
    }
    &:hover {
      background-color: $secondaryBackground;
    }
  }
}
