.movieCard {
  flex: 1;
  font-size: 0;
  line-height: 0;
  max-width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 5px;
  transition: all 0.3s;
  animation-name: movedown;
  animation-duration: 1.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.05);
  }
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.movieCard img {
  border-radius: 5px;
  width: calc(100%);
  height: calc(100%);
}

@media only screen and (min-width: 600px) {
  .movieCard {
    max-width: 15%;
    margin: 0 1.5rem;
  }
}
